body
{
    background-color: #2F3542;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
.content_paypal a
{
    color: var(--red-color);
}